
/* NOTE: UNIVERSAL: AFFECTS WHOLE DOC */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  position: relative;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

header li,a {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 5%;
  z-index: 100;
  opacity: 0; /* Set the initial opacity to 0 */
  animation-name: fade; /* Add the fade-up animation */
  animation-duration: 1.2s; /* Set the animation duration (adjust as needed) */
  animation-fill-mode: forwards; /* Ensure the animation stays in its final state */
  animation-timing-function: ease-out;
  animation-delay: 0.8s;
}

.nav_links{
  list-style:none;
  padding: 10px 0 0 0;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
  color:orange;
}

header .btn {
  border-radius: 12px;
  padding: 5px 15px;
}

/* NOTE: Animations */

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% - 50px));
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* NOTE: Index: Home Section */

/* Home Section */
#home {
  background-image: linear-gradient(#374993, #3786B6);
  overflow-x: hidden;
  position: relative;
  width: 100%;
  overflow: hidden; /* Hide the content that exceeds the section bounds */
}

/*Div for home text*/
.home-text{
  color: #FFFFFF;
  position: absolute;
  text-align: center;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Set the initial opacity to 0 */
  animation-name: fade-down; /* Add the fade-up animation */
  animation-duration: 0.6s; /* Set the animation duration (adjust as needed) */
  animation-fill-mode: forwards; /* Ensure the animation stays in its final state */
  animation-timing-function: ease-out;
  animation-delay: 0.3s;
}

/* p text in div */
#hero-desc {
  font-weight: 500;
}

/* Button in home */
#get-started-btn {
  margin-top: 20px;
}

.artworks{
  position: absolute;
  opacity: 0; /* Set the initial opacity to 0 */
  animation-name: fade-up; /* Add the fade-up animation */
  animation-duration: 1s; /* Set the animation duration (adjust as needed) */
  animation-fill-mode: forwards; /* Ensure the animation stays in its final state */
  animation-timing-function: ease-out;
}

#back-img-1{
  top: 24vh;
  left: 12vw;
  width: 22vw;
  height: auto;
  animation-duration: 0.8s;
  animation-delay: 0.75s;
}

#back-img-2{
  top: 51vh;
  left: 49vw;
  width: 15vw;
  height: auto;
  animation-duration: 0.8s;
  animation-delay: 0.82s;
}

#back-img-3{
  top: 27vh;
  left: 68vw;
  width: 18vw;
  height: auto;
  animation-duration: 0.8s;
  animation-delay: 0.8s;
}

#front-img-1{
  top: 20vh;
  left: -3vw;
  width: 22vw;
  height: auto;
  animation-delay: 1.35s;
}

#front-img-2{
  top: 62vh;
  left: 13vw;
  width: 25vw;
  height: auto;
  animation-delay: 1.25s;
}

#front-img-3{
  top: 60vh;
  left: 67vw;
  width: 19vw;
  height: auto;
  animation-delay: 1.15s;
  z-index: 1000;
}

#front-img-4{
  top: 15vh;
  left: 78vw;
  width: 23vw;
  height: auto;
  animation-delay: 1.05s;
}

/* Background image in section */
#bg-img {
  opacity: 15%;
  float: inherit;
  width: 100%;
}

/* white path in home section */
#hero-path {
  position: absolute;
  top: 0;
  left: 0;
  float: inherit;
  width: 100%;
}

/* ======== NOTE: Index: How To ======== */

/* How To Section */
#how-to {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 3fr 1fr;
  grid-template-rows: 1fr repeat(5, 1fr);
}

#how-to-title {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 2/ 2/ 5;
}

#progress-bar-container {
  grid-area: 2 / 3 / 7 / 4;
  position: relative;
  height: 80%;
  width: 5px;
  background-color: #ededed;
  overflow: hidden;
  justify-self: center;
  margin: 125px 0; /* Adding 10% margin at the top and bottom */
}

#progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: orange;
  opacity: 1;
  transition: opacity 0.7s ease, height 0.3s ease;
  /* box-shadow: 0 0 10px 10px rgba(255, 165, 0, 0.5); */
}

.left-card{
  justify-self: center;
}

.right-card{
  justify-self: center;
}

.how-to-card {
  border-radius: 10px;
  background-color: white;
  outline: none;
  padding: 20px;
  width: 300px;
  height: 300px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

#step-1 {
  grid-column: 2;
  grid-row: 2;
}

#step-2 {
  grid-column: 4;
  grid-row: 4;
}

#step-3 {
  grid-column: 2;
  grid-row: 6;
}

#header_2 {
  text-align: left;
  padding-left: 20px;
}

#exp_2 {
  text-align: left;
  padding-left: 20px;
}

.header {
  color:#000;
  font-size: 27px;
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
}

.step-pill {
  display: inline-block;
  background-color: orange;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  text-align: right;
}

.explanation {
  color:#000;
  font-size: 0.9rem;
  text-align: right;
  padding-right: 20px;

}
#how-to {
  background-image: linear-gradient(white,#F3F3F3);
}

#img_1 {
  grid-column: 4;
  grid-row: 2;
  -webkit-filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.3));
}

#img_2 {
  grid-column: 2;
  grid-row: 4;
  -webkit-filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.3));
}

#img_3 {
  grid-column: 4;
  grid-row: 6;
  -webkit-filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.3));
}

#about-us{
  background-image: linear-gradient(#F3F3F3,white);
  padding-top: 160px;
}

#team-page {
  text-align: center;
  color: #000000;
  font-weight: lighter;
}

#our-team-title {

}

#team-desc {
  padding-top: 75px;
  margin-bottom: 75px;
}

.team-sec {
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color:#444444;
}

.team h3 {
  font-size: 1.5rem;
}

#show-img {
  border-radius: 10px;
  background-color: white;
  outline: none;
  padding: 20px;
  width: 300px;
  height: 300px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  color: #000000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*contact page*/

#contact-sec {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 100px 100px 0 100px;
  background-color: white;
}

.contact-title {
  color:#000;
}

.inquiry-form {
  color:black;
}

.submit-step-pill {
  display: inline-block;
  background-color: orange;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  text-align: right;
}

.text-area {
  background-color: white;
  color: #000000;
}

#review-sec{
  text-align: right;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #bbb;
  border-radius: 3px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  margin: 0;
  cursor: pointer;
  outline: none;
}